body {
  margin: 0;
  font-family: sans-serif;
}

div.container {
  display: flex;
  flex-direction: column;
}

div.alert-primary {
  background-color: #cde5ff;
  color: #004085;
  padding: 2px 2px 0 20px;
  margin: 15px 10px;
  border: 1px solid #cde5ff;
  border-radius: 5px;
}

div.alert-secondary {
  background-color: #e2e3e5;
  color: #383d41;
  padding: 2px 2px 0 20px;
  margin: 15px 10px;
  border: 1px solid #e2e3e5;
  border-radius: 5px;
}

div.alert-success {
  background-color: #d4edda;
  color: #155724;
  padding: 2px 2px 0 20px;
  margin: 15px 10px;
  border: 1px solid #d4edda;
  border-radius: 5px;
}

div.alert-danger {
  background-color: #f8d7db;
  color: #721c25;
  padding: 2px 2px 0 20px;
  margin: 15px 10px;
  border: 1px solid #f8d7db;
  border-radius: 5px;
}

div.alert-warning {
  background-color: #fef3cd;
  color: #856404;
  padding: 2px 2px 0 20px;
  margin: 15px 10px;
  border: 1px solid #fef3cd;
  border-radius: 5px;
}

div.alert-info {
  background-color: #d1ecf1;
  color: #0d5460;
  padding: 2px 2px 0 20px;
  margin: 15px 10px;
  border: 1px solid #d1ecf1;
  border-radius: 5px;
}

div.alert-light {
  background-color: #fefefe;
  color: #818182;
  padding: 2px 2px 0 20px;
  margin: 15px 10px;
  border: 1px solid #fefefe;
  border-radius: 5px;
}

div.alert-dark {
  background-color: #d7d8d9;
  color: #1c1e21;
  padding: 2px 2px 0 20px;
  margin: 15px 10px;
  border: 1px solid #d7d8d9;
  border-radius: 5px;
}
